<p id="notice"><%= notice %></p>
<div class="entry_form">
<p>
    <b>标题</b>
    <%= @entry.title%>
</p>
<p>
    <b>正文</b>
    <%= @entry.body %>
</p>
</div>
<hr>

<div class="comment_form" id="comment_form_div">
     <%=render @entry.comments.build%>
</div>

<hr/>

<b>评论</b>
<div class="comment" id="comment_list">
    <% @comments_page.each do |comment| %>
	<% if comment.body !=nil %>
    	    <%= comment.body %> by <%=comment.name %><br />
        <hr/>
        <% end %>
    <% end %>
</div>

<%=will_paginate @comments_page,:previous_label=>'上一页',:next_label=>'下一页'%>


<a href="/blog/entries/<%=@blogger.id%>/">返回</a>

