<!DOCTYPE html>
<html>
<head>
  <title>亮博客</title>
  <%= stylesheet_link_tag "blog", :media=>'screen' %>
  <%= javascript_include_tag "application" %>
  <%= auto_discovery_link_tag :rss,:action=>'index', :format=>'xml' %>
</head>
<body>
<%= render 'common/header' %>
<br/>
<br/>
<%= render 'common/menu' %>
<div>
<section>
   <%= yield %>
</section>
<nav>
</nav>
</div>
<%= render 'common/footer' %>
</body>
</html>

